@*@{
        ViewBag.Title = "What_we_trea";
    }

     whatwetret image background section
    <div class="container-fluid">
        <img src="~/Images/doc-search-01.jpg" class="wwt_img_fluid" alt="Responsive image">
        <p class="centered">What we Treat</p>

         whatwetret image background section
         whatwetret breadcrumb section

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">what we treat</li>
            </ol>
        </nav>

         whatwetret breadcrumb section
         whatwetret first section
        <div class="container">
            <div class="wrapper ">
                <h1 class="h1_border">Our System</h1>

                <p>
                    Video consultation allows our highly-qualified doctors to quickly and conveniently examine symptoms, provide diagnoses, make treatment recommendations and advise on required medications. Doctors working on Health at Hand are able to treat any urgent but non-emergency condition, providing immediate instructions to help you feel better today. If necessary, your doctor can also refer you to a specialist for further treatment or tests.

                    Below we have listed some of the most common conditions which prompt people to seek advice from a doctor. If your condition is not listed please do not worry, the highly qualified family doctors working on Health at Hand have experience in treating a wide variety of conditions and will still be able to give you advice about your complaint.
                </p>

            </div>
        </div>
         whatwetret first section
         whatwetret second section
        <div class="container-fluid">
            <h3 class="wwt_heading">Most common minor non-emergency conditions</h3>

            <div class="second_section_wrapper">

                <div class="second_section_body">

                    <ul class="second_section_part1">
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Cold</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Cough</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Flu-like Illness</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Uninary System</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Headache</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Eye Infection</span>
                        </div>
                    </ul>
                    <ul class="second_section_part1">
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Vomiting</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Earache</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Sore Throat</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Rashes</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Indigestion</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Allergies</span>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

         whatwetret second section
         whatwetret third section
        <div class="container-fluid">
            <h3 class="wwt_heading">Most common minor non-emergency conditions</h3>

            <div class="second_section_wrapper">
                <p>
                    Whilst doctors are able to use video consultation to treat 9 out of the 10 most common conditions, there are times when it is appropriate to go to your nearest hospital emergency room.

                    If you are experiencing any of the following we recommend you seek immediate emergency care:

                </p>
                <div class="second_section_body">

                    <ul class="second_section_part1">
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Heavy bleeding</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Heavy bleeding</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Significant head injury</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Significant abdominal pain</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>   Pregnancy related concerns</span>
                        </div>

                    </ul>
                    <ul class="second_section_part1">
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Shortness of breath</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Suspected stroke</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Very high fever in babies or children</span>
                        </div>
                        <div>
                            <i class='fas fa-plus-circle'></i><span>    Chest pains</span>
                        </div>

                    </ul>
                </div>
            </div>
        </div>

         whatwetret third section*@



@{
    ViewBag.Title = "What we treat";
}

<hr />

<div class="what_we_treat_banner">
    <img src="~/Images/doc-search-01.jpg" />


    <h1 class="what_we_treat_banner_text">
        What We Treat
    </h1>
</div>

<hr />

<section class="wwt_description_wrapper">
    <div class="description">
        <h2 class="description_title description_title_underline">
            Our System
        </h2>

        <p class="description_text">
            Video consultation allows our highly-qualified doctors to quickly and conveniently examine symptoms,
            provide diagnoses, make treatment recommendations and advise on required medications.
            Doctors working on Health at Hand are able to treat any urgent but non-emergency condition,
            providing immediate instructions to help you feel better today. If necessary, your doctor can also refer you to a specialist for further treatment or tests.
            Below we have listed some of the most common conditions which prompt people to seek advice from a doctor.
            If your condition is not listed please do not worry,
            the highly qualified family doctors working on Health at Hand have experience in treating a wide variety of conditions
            and will still be able to give you advice about your complaint.
        </p>
    </div>
</section>

<hr />

<section>
    <div class="non_emergency_cases_wrapper">
        <h2 class="title">
        Most common minor non-emergency conditions
        </h2>

        <div class="second_section_wrapper">

            <div class="second_section_body">

                <ul class="second_section_part1">
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Cold</span>
                    </div>
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Cough</span>
                    </div>
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Flu-like Illness</span>
                    </div>
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Uninary System</span>
                    </div>
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Headache</span>
                    </div>
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Eye Infection</span>
                    </div>
                </ul>
                <ul class="second_section_part1">
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Vomiting</span>
                    </div>
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Earache</span>
                    </div>
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Sore Throat</span>
                    </div>
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Rashes</span>
                    </div>
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Indigestion</span>
                    </div>
                    <div>
                        <i class='fas fa-plus-circle'></i><span>    Allergies</span>
                    </div>
                </ul>
            </div>
        </div>

    </div>
</section>

<hr />

<section class="wwt_description_wrapper">
    <h2 class="title">
        Most common minor non-emergency conditions
    </h2>

    <div class="second_section_wrapper">
        <p>
            Whilst doctors are able to use video consultation to treat 9 out of the 10 most common conditions, there are times when it is appropriate to go to your nearest hospital emergency room.

            If you are experiencing any of the following we recommend you seek immediate emergency care:

        </p>
        <div class="second_section_body">

            <ul class="second_section_part1">

                <li><i class='fas fa-plus-circle'></i><span>    Heavy bleeding</span></li>  

                <li><i class='fas fa-plus-circle'></i><span>    Heavy bleeding</span></li>   

                <li> <i class='fas fa-plus-circle'></i><span>    Significant head injury</span></li>   

                <li><i class='fas fa-plus-circle'></i><span>    Significant abdominal pain</span></li> 

                <li><i class='fas fa-plus-circle'></i><span>   Pregnancy related concerns</span></li>

            </ul>
            <ul class="second_section_part1">
                <li><i class='fas fa-plus-circle'></i><span>    Shortness of breath</span></li> 

                <li><i class='fas fa-plus-circle'></i><span>    Suspected stroke</span></li> 

                <li><i class='fas fa-plus-circle'></i><span>    Very high fever in babies or children</span></li>

                <li><i class='fas fa-plus-circle'></i><span>    Chest pains</span></li>

            </ul>
        </div>
    </div>

</section>